<nav>
    <h1>SIGEVA</h1>

    <a>Eventos</a>
    <a>Configurações</a>

    <select>
        <option>Participante</option>
        <option>Colaborador</option>
        <option>Administrador</option>
    </select>
</nav>

<main>
    <div class="container-fluid">
        <div class="row gutter-10">
            <div class="col-12">
                <h1>Eventos</h1>
                <p>Aqui você encontra todos os eventos os quais você participou, está participando ou participará.</p>
            </div>
        </div>

        <div class="row gutter-10">
            <div class="col-12">
                <input placeholder="Buscar evento">
            </div>
        </div>

        <div class="row gutter-10">
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data</th>
                            <th>Situacao</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Evento 1</td>
                            <td>13/02/2017</td>
                            <td><code>ESPERANDO</code></td>
                            <td>
                                <button>ACESSAR EVENTO</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>
