<nav class="navbar navbar-fixed-top navbar-light" style="background-color: white; border-bottom: 1px solid #c6c6c6;">
    <a class="navbar-brand" routerLink="/">
        <img src="public/files/logo2.png" height="30px">
    </a>
    <div class="float-xs-right">
        <ul class="nav navbar-nav">
            <li class="nav-item ">
                <a
                    class="nav-link text-success"
                    routerLink="/login"
                >Entrar</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>