<div class="row">
    <div class="col-lg-12">
        <div class="bg-image">
            <div class="filter"></div>
            <h1>Eventos Acadêmicos do CCSA</h1>
            <h2>Participe da comunidade acadêmica através dos eventos
            que nós oferecemos à você.</h2>
        </div>

        <div class="main-box">
            <input #searchEventInput class="form-control" placeholder="Procurar evento">
            <a routerLink="/register">Inscrever-se</a>
        </div>
    </div>
</div>

<div class="row box-events">
    <div class="col-lg-12">
        <h1>
            <span>#</span> 
            Acompanhe nossos eventos
        </h1>

        <ul class="events">
            <li>
                <h1><a href="">XXI Seminário de Pesquisa do CCSA</a></h1>
                <h2>Desigualdades sociais e cidadania no Brasil: o debate atual <span>08/05/17 - 12/05/17</span></h2>
                <span class="status">Inscrições Abertas</span>
            </li>
            <li>
                <h1><a href="">XXI Seminário de Pesquisa do CCSA</a></h1>
                <h2>Desigualdades sociais e cidadania no Brasil: o debate atual <span>08/05/17 - 12/05/17</span></h2>
                <span class="status">Inscrições Abertas</span>
            </li>
            <li>
                <h1><a href="">XXI Seminário de Pesquisa do CCSA</a></h1>
                <h2>Desigualdades sociais e cidadania no Brasil: o debate atual <span>08/05/17 - 12/05/17</span></h2>
                <span class="status">Inscrições Abertas</span>
            </li>
        </ul>

    </div>
</div>